.loansPage {
  margin-left: 200px;
}

.noLoans {
  opacity: 50%;
}

.characterList {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.characterList article {
  width: 417px;
  flex: 0 1 1;
}
.characterList article:nth-of-type(3) {
  width: 856px;
  flex: 0 1 1;
}
