.registration {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  &-open {
    transition: visibility 0s, opacity 0.2s linear;
    opacity: 1;
    visibility: visible;
    background-color: #000000;
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      z-index: -1;
      background: no-repeat center/cover url(../../../content/images/register.png);
    }
  }
}
