.container {
  display: block;
  width: 343px;
  height: 144px;
}
.range {
  margin-bottom: 19px;
}

.input {
  margin-bottom: -5px;
}
.title {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  margin-bottom: 10px;
}
.subtitle {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #616161;
  margin-bottom: 8px;
}
