.footer {
  height: 200px;
  width: 100%;
  color: black;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05), 0px 2px 20px rgba(2, 3, 3, 0.05);

  .footerContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    margin: 0 auto;

    .text {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 8px;
    }

    .time {
      font-size: 12px;
      line-height: 16px;
    }

    .address {

      .addressLocation {
        font-size: 12px;
        line-height: 16px;
        max-width: 110px;
      }
    }
    .appLinks {
      display: flex;
      justify-content: space-between;
      width: 340px;
      margin-left: 100px;

      %app-links-button {
        width: 152px;
        height: 46px;
      }

      .apple {
        @extend %app-links-button;
        background: center no-repeat url(../../../content/images/landingIconAppStore.png);
      }

      .google {
        @extend %app-links-button;
        background: center no-repeat url(../../../content/images/landingIconGooglePlay.png);
      }
    }
  }
}