.container {
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  outline: 1px solid #9e9e9e;
  border: none;
  border-radius: 2px;
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus {
    outline: 2px solid #9e9e9e;
  }
  &Error {
    outline: 2px solid #f2453d;
  }
  &Disable {
    pointer-events: none;
  }
}

.message {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  margin-top: 5px;
  color: #9e9e9e;
  &Visible {
    display: block;
  }
  &Error {
    color: #f2453d;
    display: block;
  }
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #616161;
  display: none;
  &Visible {
    display: block;
  }
}

.icons {
  position: absolute;
  right: 10px;
  top: 40px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.warning {
  display: none;
  &Active {
    background: no-repeat center/contain;
    width: 15px;
    height: 15px;
    background-image: url(../../../content/icons/warningIcon.svg);
    display: block;
  }
}

.password {
  background: no-repeat center/contain;
  width: 15px;
  height: 15px;
  display: none;
  &Visible {
    background-image: url(../../../content/icons/passwordVisibleIcon.svg);
    display: block;
  }
  &Hidden {
    background-image: url(../../../content/icons/passwordHiddenIcon.svg);
    display: block;
  }
}
