.popup {
  border-radius: 8px;
  background-color: #fff;
  width: 27%;
  margin: 50px auto;
  min-height: 520px;
  padding: 20px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  padding: 0 15px;
  gap: 10px;
  .title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.6;
    margin: 0 auto 10px;
  }

  .toggles {
    width: 100%;
    margin-bottom: 15px;
    .toggle {
      width: 50%;
      height: 40px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid transparent;
      &-active {
        font-weight: 700;
        border-bottom: 2px solid #ffd600;
      }
    }
  }

  %form-button {
    width: 100%;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    border-radius: 2px;
  }

  .register {
    @extend %form-button;
    color: #000000;
    background-color: #e0e0e0;
  }

  .description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px auto;
    a,
    button {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4;
      color: #000000;
      text-decoration: underline;
    }
  }
}
