.form {
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 30px;
  gap: 30px;
}
