.wrapper {

  h5 {
    width: 300px;
    left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #212529;
  }

  .button {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 247px;
    top: 139px;
  }

  .price {
    position: absolute;
    width: 207px;
    height: 158px;
    left: 311px;
    top: 76px;
  }

  .container {
    position: absolute;
    width: 207px;
    height: 158px;
    left: 0;
    top: 76px;
  }

  .amount {
    position: absolute;
    width: 207px;
    height: 86px;
    left: 0;

    label {
      position: absolute;
      height: 13px;
      top: 14px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #9E9E9E;
    }
  }

  .dark {
    display: inline-block;
    padding-bottom: 4px;
    Border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .bright {
    display: inline-block;
    padding-bottom: 4px;
    Border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9E9E9E;
  }

  .field {
    position: absolute;
    left: 0;
    right: 0;
    top: 32px;
    bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #212529;

    .sign {
      position: absolute;
    }

    .line {
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      border: 2px solid #9E9E9E;
    }
  }

  .input {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 4px;
    Border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}

