.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.radio {
  position: relative;
  height: 21px;
  width: 21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #212529;
}

.radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ffd600;
}

.radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffd600;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.label {
  font-size: 14px;
  line-height: 20px;
}
