.main-container {
  max-width: 1280px;
  margin: 40px auto;
  padding-bottom: 35px;
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "title title form"
    "pagination scroll info";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  align-items: center;

  .title {
    grid-area: title;
    align-self: start;
    max-width: 700px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    h1 {
      font-weight: 900;
      font-size: 48px;
      line-height: 1.5;
      color: #ffffff;
    }
    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.5;
      color: #ffffff;
    }
    button {
      width: 170px;
      height: 55px;
      background-color: #ffd600;
      font-weight: 700;
      font-size: 16px;
      line-height: 1;
      border-radius: 2px;
    }
  }

  .form-container {
    grid-area: form;
    border-radius: 8px;
    background-color: #fff;
  }

  .pagination {
    grid-area: pagination;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-self: start;
    button {
      width: 12px;
      height: 12px;
      background: center no-repeat url(../../../content/icons/pagination.svg);
    }
  }

  .scroll {
    grid-area: scroll;
    justify-self: center;
    width: 40px;
    height: 80px;
    background: center no-repeat url(../../../content/icons/footerScroll.svg);
  }

  .info {
    grid-area: info;
    justify-self: center;
    display: grid;
    grid-template-areas:
      "text text"
      "apple google";
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: auto;
    gap: 16px 37px;
    p {
      color: #ffffff;
      font-size: 16px;
      line-height: 1.5;
      grid-area: text;
      margin: 0 auto;
    }
    %info-button {
      width: 152px;
      height: 46px;
    }
    .apple {
      @extend %info-button;
      grid-area: apple;
      background: center no-repeat url(../../../content/images/landingIconAppStore.png);
    }
    .google {
      @extend %info-button;
      grid-area: google;
      background: center no-repeat url(../../../content/images/landingIconGooglePlay.png);
    }
  }
}
