%default-container {
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  position: relative;
}

%default-input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  outline: 1px solid #9e9e9e;
  border: none;
  border-radius: 2px;
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus {
    outline: 2px solid #9e9e9e;
    margin-top: 15px;
  }
}

%default-error {
  margin: 10px auto;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #f2453d;
}

%default-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #616161;
  display: none;
  position: absolute;
  top: -15px;
  margin: 5px auto;
}

%icon {
  background: no-repeat center/contain;
  width: 15px;
  height: 15px;
}

.input-container {
  @extend %default-container;
  .input {
    @extend %default-input;
    &-active {
      @extend %default-input;
      outline: 1px solid #9e9e9e;
      margin: 15px auto;
    }
    &-error {
      @extend %default-input;
      outline: 2px solid #f2453d;
      margin-top: 15px;
    }
  }
  .label {
    @extend %default-label;
    display: none;
  }
  .error {
    @extend %default-error;
    &-active {
      @extend %default-error;
      display: block;
    }
  }

  .icons-container {
    position: absolute;
    right: 10px;
    top: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .warning {
    @extend %icon;
    background-image: url(../../../content/icons/warningIcon.svg);
    display: none;
    &-active {
      @extend %icon;
      background-image: url(../../../content/icons/warningIcon.svg);
      display: block;
    }
  }
  .password {
    @extend %icon;
    display: none;
    &-visible {
      @extend %icon;
      background-image: url(../../../content/icons/passwordVisibleIcon.svg);
      display: block;
    }
    &-hidden {
      @extend %icon;
      background-image: url(../../../content/icons/passwordHiddenIcon.svg);
      display: block;
    }
  }
  .input:focus ~ .label,
  .input:not(:placeholder-shown) ~ .label,
  .input-error:not(:placeholder-shown) ~ .label,
  .input-active:not(:placeholder-shown) ~ .label {
    @extend %default-label;
    display: block;
  }
}
