.amount {
  margin-bottom: 40px;
}
.title {
  display: block;
  margin-bottom: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.container {
  display: block;
  min-width: 343px;
}
