.container {
  height: 688px;
  width: 1296px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

h5 {
  position: absolute;
  width: 172px;
  height: 36px;
  left: 105px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
}

.converter {
  position: absolute;
  width: 518px;
  height: 234px;
  left: 658px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  width: 440px;
  height: 460px;
  left: 105px;
  top: 76px;

  .title {
    width: 415px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #212529;

    .currency {
      position: absolute;
      width: 220px;
      height: 20px;
      left: 0;
      top: 0;
    }

    .buying {
      position: absolute;
      width: 110px;
      height: 20px;
      left: 220px;
      top: 0;
    }

    .selling {
      position: absolute;
      width: 85px;
      height: 20px;
      left: 330px;
      top: 0;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 440px;
  height: 64px;
  border-bottom: 2px solid #EEEEEE;
}

.content:last-child {
  border: none;
}