.telephone-block {
  width: 270px;
  display: flex;
  align-items: center;

  .telephone-block-img {
    background: center / contain no-repeat url(../../../content/icons/telephone.svg);
    width: 13px;
    height: 22px;
    display: block;
    margin-right: 30px;
  }
}

.telephone-block-item {

  .item-text {
    font-size: 12px;
    line-height: 16px;
    color: #9E9E9E;
  }
}

.telephone-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 279px;

  .telephone-block-img {
    background: center / contain no-repeat url(../../../content/icons/telephone.svg);
    width: 13px;
    height: 22px;
    display: block;
  }
}