.select-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 207px;
  height: 48px;
  border: 1px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 24px;

  .select-arrow {
    width: 24px;
    height: 24px;
    background-image: url(../../../../../content/icons/arrowdown.svg);
  }
}

.input-currency-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 32px;
  bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212529;

  .bottom-line {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    border: 2px solid #9E9E9E;
  }
}

.sign-currency {
  position: absolute;
}

.input-currency {
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 4px;
  Border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.currency-conteiner {

  display: none;

  &-open {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
  }
}

.options-currency-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 8px;
  border: 1px solid #9E9E9E;
  border-radius: 2px;
  width: 207px;
  height: 48px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .strong {
    display: inline;
    width: 170px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
  }

  .full-name {
    width: 170px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9E9E9E;
  }

  &:hover {
    width: 100%;
    background-color: #FFF176;
  }
}
