.title-block {
  padding-top: 26px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1296px;
  margin: 0 auto;

  .title {
    margin: 0 auto;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
}

